@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #080808;

  /* Paleta de colores del sitio de topografía */
  --primary: #166aea;
  --primary-light: #116dff;
  --secondary: #3899ec;
  --accent: #7fccf7;
  --dark: #20303c;
  --gray: #5f6360;
  --success: #68B04D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-dark: var(--dark);
  --color-gray: var(--gray);
  --color-success: var(--success);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
